<%- include("template/cabecera", {title: title}) %>

    <% if (dataImage.length===0) { %>
        <div class="container">
            <h2>
                Puedes añadir tus imágenes en este botón:
                <button onclick="window.location.href='/new-image'">➕</button>
            </h2>
        </div>
        <% } else { %>
            <div class="gallery container">
                <% dataImage.forEach(image=> { %>
                    <div class="card" id="<%= image.id %>">
                        <img src="<%= image.urlImagen %>" alt="<%= image.title %>">
                        <div class="card-content">
                            <h3
                                style="display: flex; align-items: center; justify-content: space-between;padding: 5px;">
                                <i onclick="window.location.href='/image/<%= image.id %>/view'" title="Ver imagen"
                                    class="fas fa-eye view-icon"></i>
                                <i onclick="deleteImage('<%= image.id %>')" title="Eliminar imagen"
                                    class="fas fa-trash delete-icon"></i>
                            </h3>
                            <h3>
                                Nombre: <%= image.title.toUpperCase() %>
                            </h3>
                            <h5>
                                Fecha: <%= image.date %>
                            </h5>
                            <h5>
                                <%= image.description %>
                            </h5>
                            <h5>Colores principales:</h5>
                            <% if (image.colors && image.colors.length) { %>
                                <div class="color-circles">
                                    <% image.colors.forEach(color=> { %>
                                        <div class="color-circle"
                                        <% const rgbaColor = `rgba(${color._rgb.join(', ')})`; %>
                                            style="background-color: <%= rgbaColor %>;"
                                            title="rgba(<%= color._rgb.join(', ') %>)">
                                        </div>
                                        <% }); %>
                                </div>
                                <% } else { %>
                                    <p style="color: red;">Colores no disponibles en esta imagen.</p>
                                    <% } %>
                        </div>
                    </div>
                    <% }); %>
            </div>
            <% } %>
                <%- include("template/footer") %>
                    </div>
                    <script>
                        function eliminarImagen() {
                            console.log(dataImage);
                        }

                        // Función asíncrona a la dirección del enlace, con método POST para que vaya al Backend
                        async function deleteImage(imageId) {
                            const response = await fetch(`/image/${imageId}/delete`, {
                                method: 'POST',
                                headers: { 'Content-Type': 'application/json' }
                            });
                            if (response.ok) {
                                document.getElementById(imageId).style.display = 'none';
                            } else {
                                console.error('Error al eliminar la imagen');
                            }
                        }

                        async function viewImage(imageId) {
                            const response = await fetch(`/image/${imageId}/view`, {
                                method: 'POST', headers: { 'Content-Type': 'application/json' }
                            });
                            if (response.ok) {
                                console.log("vista de la imagen");
                                window.location.href = '/';
                            } else {
                                console.error('Error al visualizar la imagen');
                            }
                        }

                    </script>