<%- include("template/cabecera", {title: title}) %>
    <%- include("template/aside")%>



        <%if (dataImage.length==0) { %>
            <div class="container">
                <h2>Puedes añadir tus imagenes en este botón! <button
                        onclick="window.location.href='/new-image'">➕</button></h2>
            </div>

            <% } else { %>



                <form class="container" action="/delete-image" method="POST">
                    <div class="grid">
                        <% dataImage.forEach(image=> { %>
                            <div class="card">
                                <img src="<%= image.urlImagen %>" alt="<%= image.title %>">
                                <div class="card-content">
                                    <h3>
                                        <%= image.title.toUpperCase() %>
                                    </h3>
                                    <h4>
                                        <%= image.date %>
                                    </h4>
                                    <h5>
                                        <%= image.description %>
                                    </h5>
                                    <% if (image.colors && image.colors.length) { %>
                                        <div class="color-circles">
                                            <% image.colors.forEach(color=> { %>
                                                <div class="color-circle"
                                                    style="background-color: rgba(<%= color._rgb.join(', ') %>);"></div>
                                                <% }); %>
                                        </div>
                                        <% } else { %>
                                            <p style="color: red;">Colores no disponibles en esta imagen.</p>
                                        <% } %> <!-- <label>
                                        <input type="checkbox" name="selectedImages" value="<%= image.urlImagen %>">
                                        Seleccionar
                                    </label> -->
                                </div>
                            </div>
                            <% }); %>
                    </div>
                    <!-- <button type="submit">Eliminar Imágenes Seleccionadas</button> -->
                </form>

                <%}%>


                    <%- include("template/footer")%>